
.repository-title {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    & a {
        max-width: 100px;
        text-align: left;
    }
}

.no-repos-message {
    font-weight: bold;
}