/* You can add global styles to this file, and also import other style files */

.pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.ant-avatar {
    margin-right: 16px;
}

.ant-popover-inner-content {
    padding: 0;
}